<h1><%=@owner.name%></h1>
<h4>Pets:</h4>
<ul>
  <%@owner.pets.each do |pet|%>
  <li><a href="/pets/<%= pet.id %>"><%=pet.name%></a></li>
  <%end%>
</ul>
<br></br>

<small><a href="/owner/<%= @owner.id %>/edit">Edit My Info</a></small>
<br></br>

<form action="/owner/<%=@owner.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>